<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.shashwat.controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookInsert</servlet-name>
        <servlet-class>com.shashwat.controller.BookInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.shashwat.controller.admin.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLogin</servlet-name>
        <servlet-class>com.shashwat.controller.manager.ManagerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogInsert</servlet-name>
        <servlet-class>com.shashwat.controller.BlogInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBlog</servlet-name>
        <servlet-class>com.shashwat.controller.GetBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>com.shashwat.controller.manager.AddBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBook</servlet-name>
        <servlet-class>com.shashwat.controller.GetBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReadingStatus</servlet-name>
        <servlet-class>com.shashwat.controller.AddReadingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategoryBook</servlet-name>
        <servlet-class>com.shashwat.controller.GetCategoryBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowBookAdd</servlet-name>
        <servlet-class>com.shashwat.controller.BorrowBookAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubscription</servlet-name>
        <servlet-class>com.shashwat.controller.AddSubscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetails</servlet-name>
        <servlet-class>com.shashwat.controller.BookDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showReadingStatus</servlet-name>
        <servlet-class>com.shashwat.controller.showReadingStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookInsert</servlet-name>
        <url-pattern>/BookInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLogin</servlet-name>
        <url-pattern>/ManagerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogInsert</servlet-name>
        <url-pattern>/BlogInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBlog</servlet-name>
        <url-pattern>/GetBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/AddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBook</servlet-name>
        <url-pattern>/GetBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReadingStatus</servlet-name>
        <url-pattern>/AddReadingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategoryBook</servlet-name>
        <url-pattern>/GetCategoryBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowBookAdd</servlet-name>
        <url-pattern>/BorrowBookAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubscription</servlet-name>
        <url-pattern>/AddSubscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetails</servlet-name>
        <url-pattern>/BookDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showReadingStatus</servlet-name>
        <url-pattern>/showReadingStatus</url-pattern>
    </servlet-mapping>
</web-app>
